.header{
    min-height: calc(100vh - 94px);
    background:url(../img/backgrounds/h_img.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
} 



.header img{
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
    padding-bottom:1%;
}

.header h4{
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
}

.header p1{
    color: cornsilk;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
     
}

#mouse{
    height: 40%;

}