.header{
    background:url(../img/backgrounds/h_img.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height:800px;
} 



.header img{
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18%;
}

.header h4{
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
    font-size: 350%;
    padding-top:3%;
}
.header h3{
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
    font-size: 350%;
    padding-top: 2%;
}

.header p1{
    color: cornsilk;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
     
}

#mouse{
    height: 40%;
    padding-top: 4px;
    margin-top: 160px;

}
#aboutus{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
#services{
    background:url(../img/backgrounds/s_image.jpg);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    font-weight: 100%;
    font-stretch: 30%;
}
.services img{
    opacity:30%;
}